input::-webkit-input-placeholder {font-style: normal;}
input:-moz-placeholder {font-style: normal;}

.select .attr_w1{
	width: 180px;
}
.attr_w2 {
	width: 57px;
}
.fieldset__content{
	overflow: hidden;
}
.input_small2{
	width: 35px;
}
.input_small3{
	width: 30px;
	display: inline-block;
}
.input_average{
	width: 57px;
}
.row_middle{
	width: 110px;
	float: left;
	margin-right: 10px;
	clear: none;
}
.row_fix{
	width: 57px;
	float: right;
	margin-right: 20px;
}
.select_fr{
	float: right;
}
.input_date.input_short {
	width: 73px;
}
.row_rad {
	position: relative;
	vertical-align: top;
	select{
		width: 52px !important;
		height: 21px;
		background: transparent;
		padding: 1px 5px;
		line-height: 21px;
		border-radius:  10px;
		vertical-align: middle;
		opacity: 0;
		position: absolute;
		top: 20px;
		left: 0;
	}
}
.row_rad2{
	select{
		width: 85px;
		height: 25px;
		background: transparent;
		padding: 1px 5px;
		line-height: 21px;
		border-radius:  10px;
		vertical-align: middle;
		opacity: 0;
		position: absolute;
		top: 0px;
		left: 0;
	}
}
.row_rad2 select{
	width: 79px;
}
div.label{
	width: 40px;
	height: 20px;
	padding: 1px 5px;
	line-height: 20px;
	border-radius:  3px;
	vertical-align: middle;
	border: 1px solid #cacaca;
	overflow: hidden;
	background: url("../img/back_arrow.png") 36px 11px no-repeat #fff;
}
.row__cross{
	background: url("../img/cross.png") 0px 0px no-repeat;
	display: block;
	width: 11px;
	height: 11px;
	cursor: pointer;
	position: relative;
	top: -18px;
	right: -93px;
	z-index: 100;
}
