/* line 1, ../sass/fix.scss */
input::-webkit-input-placeholder {
  font-style: normal;
}

/* line 2, ../sass/fix.scss */
input:-moz-placeholder {
  font-style: normal;
}

/* line 5, ../sass/fix.scss */
.fieldset__content {
  overflow: hidden;
}

/* line 9, ../sass/fix.scss */
.select .attr_w1 {
  width: 180px;
}

/* line 12, ../sass/fix.scss */
.attr_w2 {
  width: 57px;
}

/* line 15, ../sass/fix.scss */
.input_small2 {
  width: 35px;
}

/* line 18, ../sass/fix.scss */
.input_small3 {
  width: 30px;
  display: inline-block;
}

/* line 22, ../sass/fix.scss */
.input_average {
  width: 57px;
}

/* line 25, ../sass/fix.scss */
.row_middle {
  width: 110px;
  float: left;
  margin-right: 10px;
  clear: none;
}

/* line 31, ../sass/fix.scss */
.row_fix {
  width: 57px;
  float: right;
  margin-right: 20px;
}

/* line 37, ../sass/fix.scss */
.input_date.input_short {
  width: 73px;
}

/* line 41, ../sass/fix.scss */
.select_fr {
  float: right;
}

/* line 45, ../sass/fix.scss */
.fieldset input {
  margin-right: 4px;
}

/* line 48, ../sass/fix.scss */
.row__inline .row {
  margin-right: 0 !important;
}

/* line 52, ../sass/fix.scss */
.row_rad {
  position: relative;
  vertical-align: top;
}
/* line 55, ../sass/fix.scss */
.row_rad select {
  width: 52px !important;
  height: 21px;
  background: transparent;
  padding: 1px 5px;
  line-height: 21px;
  border-radius: 10px;
  vertical-align: middle;
  opacity: 0;
  position: absolute;
  top: 20px;
  left: 0;
}

/* line 70, ../sass/fix.scss */
.row_rad2 select {
  width: 79px;
  height: 25px;
  background: transparent;
  padding: 1px 5px;
  line-height: 21px;
  border-radius: 10px;
  vertical-align: middle;
  opacity: 0;
  position: absolute;
  top: 0px;
  left: 0;
}

/* line 85, ../sass/fix.scss */
.row__cross {
  background: url("../img/cross.png") 0px 0px no-repeat;
  display: block;
  width: 11px;
  height: 11px;
  cursor: pointer;
  position: relative;
  top: -18px;
  right: -93px;
  z-index: 100;
}
